@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
* {
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

.flex-center {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background: #151515 !important;
}

.light {
  background: unset !important;
}
